
.flex-fechas{
    display: flex;
    border: 1px, solid rgba(0, 0, 0, 0.1);
    margin: -21px 0px 20px;
    padding: 10px 10px;
    justify-content: left;
    align-items: center;
}

.flex-fecha{
    display: flex;
    align-items: center;
    width: 12%;
    text-align: center;
    font-size: 12px;
}

.fa-calendar{
    font-size: 25px;
    width: 30%;

}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    color: #71649c;
}

p{
    margin:0;
    padding:0;
}

.o_form_view .o_field_widget{
    margin:0;
    padding:0;
}

